{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="text-light container full d-flex justify-content-center mt-4">
        <div class="row d-flex justify-content-center">
            <h1 class="d-flex justify-content-center">Garage</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis et, provident facere delectus voluptatibus atque modi doloribus ratione nesciunt quia, ex animi, soluta dolorem labore saepe quis minima error! Quisquam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis et, provident facere delectus voluptatibus atque modi doloribus ratione nesciunt quia, ex animi, soluta dolorem labore saepe quis minima error! Quisquam.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis quaerat pariatur, eligendi, suscipit blanditiis ad at in aut porro optio placeat veritatis deserunt deleniti doloremque iste dolor cum obcaecati ducimus? Sapiente magni id sint ducimus corporis quia dignissimos inventore, voluptate at fuga in libero quos! Magnam, provident. Nulla, iste labore.</p>
        </div>
    </div>
    
{% endblock %}